<% if flash[:pass] %>
	<div class="alert alert-warning" role="alert">
    <%= flash[:pass]%>
</div>
<% end %>

<% if flash[:passnot] %>
	<div class="alert alert-warning" role="alert">
    <%= flash[:passnot]%>
</div>
<% end %>



<% if flash[:matchpass] %>
	<div class="alert alert-warning" role="alert">
    <%= flash[:matchpass]%>
</div>
<% end %>

<% if flash[:success] %>
	<div class="alert alert-info" role="alert">
    <%= flash[:success]%>
</div>
<% end %>


<% if flash[:error] %>
	<div class="alert alert-warning" role="alert">
    <%= flash[:error]%>
</div>
<% end %>


